<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Image</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 20px;
        }
        img {
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 500px;  
            height: 500px; 
        }
    </style>
</head>
<body>
    <h1></h1>
   
    {% if prediction %}
    <p>PREDICTION </p>
    <p> {{ prediction }}</p>
{% endif %}
    {% if image_data %}
    <p> PROCESSED IMAGE </p>
        <img src="data:image/png;base64,{{ image_data }}" alt="Sample Image">
    {% else %}
        <p>No image available.</p>
    {% endif %}
</body>
</html>
